@model IEnumerable<Shoop.Models.Movie>

@{
    ViewBag.Title = "ShoopCart";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Cart </title>
    <link href="Style.css" rel="stylesheet" />
</head>
<body>
    {
    <div class="container">
        <span class="prev"></span>
        <span class="next"></span>
        <!--<div id="box">-->
        <span>0</span>
        <!-- </div>-->
    </div>


    <script type="text/javascript">
        var numbers = document.getElementById();
        for (i = 0; i < 100; 1++)
            var span = document.createElement(span);
        span.textContent = i;
        numbers.appendChild(span);
         }
        var num = numbers.getElementById(span);
        var index = 0;
        function nextNum() {
            num[index].style.display = 'none';
        }


            function FnInc() {
            var Cnt = 0;
            Cnt = document.getElementById("T1").value;
            Cnt++;
            document.getElementById("T1").value = Cnt;
        }
        function FnDec() {
            var Cnt = 0;
            Cnt = document.getElementById("T1").value;
            if (Cnt == 0) {
                document.getElementById("T1").value = 0;
                alert("cannot be lessthan 0");
            return;
        }
        Cnt--;
        document.getElementById("T1").value = Cnt;
    }

    </script>
</body>
</html>