@model IEnumerable<Shoop.Models.Movie>

<table class="table">
    <tr>
        @foreach (var item in Model)
        {




        <td>
            <img height="218px" src="@Html.DisplayFor(modelItem => item.MovieImageUrl)" />
            <a class="btn btn-primary" href="/ShoopingCart/AddtoCart?id=@item.Id">Add to Cart</a>

        </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IMDBUrl)
            </td>*@
        }
    </tr>


</table>
