@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@Html.ActionLink("Profile", "CustomerDetails", "Customers", new { id = "27f18122-a6cb-43de-9d70-b4dcee3905ed" }, null)

<p>Use this area to provide additional information.</p>
